
<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>

    <div class="box">


        <%for(let i=0; i<newlistItems.length; i++){ %>
        <div class="item">
            <input type="checkbox" name="" id="">
            <p><%=newlistItems[i] %></p>
        </div>

        <% }%>

        <form action="/" method="POST" class="item">
            <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

    </div>

    <%- include("footer") -%>


